.container {
	font-size: 20px;
	width: 100%;
	min-height: 800px;
	text-align: left;
	position: absolute;
	top: 80px;
	display: block;
}

.cube-container {
	width: 250px;
	height: 250px;
	top: 50%;
	left: 50%;
	position: absolute;
	box-shadow: 10px 10px 54px -6px rgba(0,0,0,0.75);
	transform: translate(-50%, -50%);
}